@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

body {
    background: #003329;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    position: absolute;
    width: 100%;
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo {
    font-size: 7vh;
    color: #359381;
    border-radius: 20px;
}


.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 1vh 1.5vh;
    border-radius: 20px;
    font-weight: 500;
    font-size: 2vh;
}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #f9f9f9;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #003329;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    display: flex;

}

#text {
    color: #f9f9f9;
    z-index: 100;
    font-size: 8vw;
    text-align: center;
    width: 100%;
    margin-top: 17vw;
    text-shadow: 4px 4px 4px #000000a8;
}


.citation {
    position: relative;
    background: #003329;
    padding-left: 100px;
    color: #00130f;
}

.citation a {
    color: #92DFD4;
}

.sec {
    background: #003329;
    text-align: center;
    height: 100vh;
    position: relative;
    padding-top: 20px;
    margin-bottom: 0;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 50px;
}

.sec p {
    font-size: 1.5em;
    color: #C7EDFA;
    font-weight: 300;
    width: 100%;
    max-width: 900px;
    margin:auto;

}

.sec img {
    border-radius: 30px;
    border: 3px solid #C7EDFA;
    background: #C7EDFA;
    padding: 10px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
}

.sec hr {
    border: 3px solid #00130f;
    opacity: 50%;
    border-radius: 5px;
    margin: 40px;
}

.sec a {
    text-decoration: none;
    color: #359381;
}

.iam {
    text-align: center;
    height: 100vh;
    position: relative;
    padding-top: 20px;
    background: #359381;
    border-radius: 30px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 3vh;
    margin: 0 20vmax;
}

.iam ul {
    padding: 10px;
    list-style-type: none;
}

.iam li {
    font-size: 1.5em;
    color: #C7EDFA;
    font-weight: 300;
    padding: 7px;
}

.iam h3 {
    font-size: 2em;
    color: #92DFD4;
    margin-bottom: 10px;
}

.soup img {
    border: 3px solid #C7EDFA;
    background: #C7EDFA;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
    width: 25vw; 
}

.soup .caption {
    text-align: center;
    right: 100px;
    width: 400px;
    margin: auto;
    background: rgba(53, 147, 129, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    font-size: 1.5em;
}

.soup:hover .caption {
    visibility: visible;
    opacity: 1;
  }

  
@media (orientation: portrait) {
    header {
        background: #f9f9f9;
        position: relative;
        font-size: 1vw;
    }
    .logo {
        font-size: 3vh;
    }
    .iam {
        width: 100%;
        margin: .25vw;
        top: 1200px;
        position: absolute;
    }
    .soup img {
        width: 90vw;
        margin: 0;
    }
    .sec img {
        width: 90vw;
    }
    .sec {
        top: 350px;
        position: absolute;
    }
    .citation {
        opacity: 0;
    }
}






